body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;
}

.card-title {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container-relative{
  position: relative;
}

.btn {
    display: block;
    padding: 17px 0;
    font-family: "PT Sans";
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: #81b3d2;
}

.logo-menu-link {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  margin-left: -69px;
  width: 138px;
  height: 70px;
  z-index: 10;
}

.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  margin: 0;
  list-style: none;
}

.menu-item {
  width: 20%;
  padding: 14px 0;
}

.menu-item-left {
  text-align: left;
}

.menu-item-right {
  text-align: right;
}


.menu-link {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.menu-link-left {
  margin-left: -19%;
}

.menu-link-right {
  margin-right: -19%;
}

.background {
  position: relative;
  width: 100%;
  height: 508px;
  background: #687c8b url(../img/background.jpg) 0 -54px;
}

.background::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background: url(../img/shape.png) no-repeat center;
}

.wrap {
  padding-top: 62px;
  padding-bottom: 51px;
  text-align: center;
}

.wrap-title {
  width: 450px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.wrap-text {
  margin: 0;
  margin-top: 27px;
  font-size: 14px;
  line-height: 26px;
}

.box {
  display: flex;
}

.card {
 width: 33.333%;
 padding-top: 47px;
 padding-bottom: 59px;
 text-align: center;
 color: #ffffff;
 background-color: #81b3d2;
}

.card-title {
  width: 151px;
  margin: 0 auto;
  margin-bottom: 24px;
  color: #ffffff;
}

.card-number {
  margin-bottom: 21px;
}

.card-paragraph {
  width: 302px;
  margin: 0 auto;
}

.grey-card {
  color: #000000;
  background-color: #eeeeee;
}

.grey-card .card-title {
  color: #000000;
}

.grey-card .card-paragraph {
  width: 270px;
}

.box-image {
  width: 67%;
  height: 256px;
  background: url(../img/city.jpg) no-repeat;
}

.features {
  display: flex;
  padding-top: 60px;
  padding-bottom: 82px;
}

.feature {
  position: relative;
  width: 33.333%;
  padding-top: 75px;
  text-align: center;
}

.feature::after {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  width: 75px;
  height: 72px;
  margin-left: -36px;
  background: url(../img/house.png) no-repeat center;
}

.feature-title {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 24px;
}

.feature-paragraph {
  width: 290px;
  margin: 0 auto;
}

.box-image-2 {
  order: -1;
  width: 67.333%;
  height: 256px;
  background: url(../img/bridge.jpg) no-repeat center;
}

.search {
  position: relative;
  padding-top: 51px;
  text-align: center;
}

.search-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
}

.search-text {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 47px;
  line-height: 24px;
}

.search-btn {
  display: block;
  width: 568px;
  padding: 30px 0;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  background: #766357;
}

.map {
  width: 100%;
  height: 593px;
  background: #e1ecbc url(../img/map.jpg) no-repeat;
}

.wrapper-form {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 568px;
  padding: 55px;
  margin-left: -284px;
  box-sizing: border-box;
  background: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.label,
.input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.wrapper-item {
  display: flex;
  align-items: center;
}

.label-people {
  margin-right: 41.3px;
}

.label-child {
  margin-right: 25px;
}

.input-wrapper-number {
  display: flex;
}

.input-wrapper {
  position: relative;
  width: 346px;
}

.input {
  width: 100%;
  padding: 6px 12px;
  padding-right: 36px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
}

.wrpper-calendar {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 22px;
  background: url(../img/calendar.png) no-repeat center;
}

.input-number {
  width: 38px;
  height: 38px;
  padding: 0 15px;
  box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
}

::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
::-moz-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
:-moz-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
:-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.btn-input {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  font-size: 0;
}

.btn-input-less::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.btn-input-more::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.btn-input-more::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 50%;
  margin-left: -1.5px;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
}


.btn-search-form {
  width: 100%;
  padding: 16px 0;
  margin-top: 53px;
  border: none;
  background-color: #81b3d2;
  cursor: pointer;
}

.wrap-form {
  min-height: 217px;
  background: url(../img/filter-background.jpg) no-repeat;
}

.form {
  display: flex;
  padding: 0 6%;
}

.block-checkbox-1 {
  margin-right: 110px;
}

.block-checkbox-2 {
  margin-right: 330px;
}

.range-filter {
  width: 320px;
}

.wrap-input {
  display: flex;
  width: 160px;
}

.price-input {
  width: 100%;
  box-sizing: border-box;
}

.price-controls {
  display: flex;
}

.btn-form {
  margin-left: 95px;
}

.sorting {
  display: flex;
  align-items: baseline;
  padding: 30px 6%;
}

.sorting-title {
  margin: 0;
  margin-right: 45px;
}

.sorting-text {
  margin: 0;
  margin-right: 35px;
}

.sorting-item {
  margin-right: 452px;
}

.sorting-link {
  margin-right: 30px;
}

.sorting-link:last-child {
  margin-right: 0px;
}

.sorting-switch {
  display: flex;
}

.switch {
  display: block;
  width: 11px;
  height: 10px;
  margin-right: 12px;
  background: black;
}

.switch:last-child {
  margin-right: 0;
}

.content {
  display: flex;
  padding: 30px 6%;
}

.wrap-module {
  width: 258px;
  margin-right: 522px;
}

.wrap-module-title {
  margin: 0;
}

.module {
  display: flex;
  justify-content: space-between;

}

.content-img {
  margin-right: 30px;
}

.rating-module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 110px;
}

.stars {
  display: flex;
}

.star {
  width: 20px;
  height: 17px;
  margin-right: 6px;
  background: url(../img/stars.png) no-repeat 0 0;
}

.star:last-child {
  margin-right: 0;
}


.main-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: -50%;
  padding: 36px 0;
  background: #ffffff;
  opacity: 0.9;
}

.catalog-main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 6%;
}

.footer-item {
  display: flex;
  justify-content: center;
  width: 33.333%;
}

.footer-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social {
  margin-left: 4px;
}

.social-btn {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  font-size: 0;
  background: #81b3d2;
  opacity: 0.7;
}

/*.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/spritesheet.png") no-repeat;
}*/

.social-btn-tw::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 15px;
  background: url(../img/twitter.png) no-repeat;
}

.footer-block {
  align-items: center;
}

.footer-link {
  display: block;
  width: 113px;
  height: 39px;
  padding-left: 14px;
  margin-right: -6px;
  font-size: 0;
  background: url(../img/htmlacademy-logo.png)no-repeat center;
}
