body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.card-title {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 30px 10px #dbdbdb;
          box-shadow: 0 0 30px 10px #dbdbdb;
}

.btn {
  display: block;
  padding: 17px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #81b3d2;
}

.logo-menu-link {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  display: block;
  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 6%;
  list-style: none;
}

.menu-item {
  width: 20%;
  padding: 15px 0;
}

.menu-item-margin {
  flex-grow: 2;
  margin-left: 29px
}

.menu-item-map {
  flex-grow: 2;
  margin-right: 34px;
}

.menu-item-left {
  text-align: left;
}

.menu-item-right {
  text-align: right;
}

.menu-link {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.menu-link:hover {
  color: #81b3d2;
}

.menu-link:active {
  color: #000000;
  opacity: 0.3;
}

.menu-active {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #766357;
  text-decoration: none;
}

.background {
  position: relative;
  width: 100%;
  height: 508px;
  background: #677c8b url("../img/background.jpg") 0 -55px;
}

.background::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background: url("../img/shape.png") no-repeat center;
}

.wrap {
  padding-top: 60px;
  padding-bottom: 51px;
  text-align: center;
}

.wrap-title {
  width: 450px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.wrap-text {
  margin: 0;
  margin-top: 27px;
  font-size: 14px;
  line-height: 26px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
 width: 400px;
 padding-top: 47px;
 padding-bottom: 59px;
 text-align: center;
 color: #ffffff;
 background-color: #81b3d2;
}

.card-title {
  width: 151px;
  margin: 0 auto;
  margin-bottom: 24px;
  color: #ffffff;
}

.card-number {
  position: relative;
  margin-bottom: 21px;
}

.card-paragraph {
  width: 302px;
  margin: 0 auto;
}

.grey-card {
  color: #000000;
  background-color: #eeeeee;
}

.grey-card .card-title {
  color: #000000;
}

.grey-card .card-paragraph {
  width: 270px;
  color: #333333;
}

.box-image {
  width: 800px;
  height: 256px;
  background: #9e795c url("../img/city.jpg") no-repeat;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 81px;
}

.feature {
  width: 400px;
  text-align: center;
}

.feature::before {
  display: block;
  content: "";
  margin: 0 auto;
  background: url("../img/spritesheet.png") no-repeat center;
}

.feature-house::before {
  width: 75px;
  height: 72px;
  background-position: -5px -306px;
}

.feature-burger:before {
  width: 74px;
  height: 70px;
  background-position: -5px -5px;
}

.feature-souvenir:before {
  width: 64px;
  height: 76px;
  margin-top: -5px;
  background-position: -5px -526px;
}

.feature-title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 24px;
}

.feature-paragraph {
  width: 290px;
  margin: 0 auto;
}

.box-image-2 {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 800px;
  height: 256px;
  background: #81523a url("../img/bridge.jpg") no-repeat center;
}

.search {
  position: relative;
  padding-top: 51px;
  text-align: center;
}

.search-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
}

.search-text {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 47px;
  line-height: 24px;
}

.search-btn {
  display: block;
  width: 568px;
  padding: 30px 0;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  background: #766357;
}

.map {
  width: 100%;
  height: 593px;
  background: #e1ecbc url("../img/map.jpg") no-repeat center;
}

.iframe {
  border: 0;
}

.wrapper-form {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 568px;
  padding: 55px;
  margin-left: -284px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 12px 1px #6d6d6d;
          box-shadow: 0 4px 12px 1px #6d6d6d;
}

.wrapper-form-hide {
  display: none;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.wrapper-form-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.label,
.input,
.input-number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.wrapper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-people {
  margin-right: 41.3px;
}

.label-child {
  margin-right: 25px;
}

.input-wrapper-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-wrapper {
  position: relative;
  width: 346px;
}

.input {
  width: 100%;
  min-height: 38px;
  padding: 6px 12px;
  padding-right: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
}

.input:hover {
  background: #ebebeb;
}

.input:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
          box-shadow: inset 0 0 0 2px #e5e5e5;
  outline: none;
}

.wrapper-calendar {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 22px;
  background: url("../img/spritesheet.png") no-repeat center;
  background-position: -5px -85px;
  opacity: 0.2;
  cursor: pointer;
}

.wrapper-calendar:hover {
  opacity: 1;
}

.wrapper-calendar:active {
   background-position: -5px -117px;
}

.input-number {
  width: 38px;
  height: 38px;
  padding: 6px 6px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #f2f2f2;
}

.input-number:hover {
  background: #ebebeb;
}

.input-number:focus {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
          box-shadow: inset 0 0 0 2px #e5e5e5;
  outline: none;
}

::-webkit-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

:-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

:-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}

.btn-input {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 23px;
  line-height: 21px;
  color: #a9a9a9;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  cursor: pointer;
}

.btn-input:hover {
  color: #000000;
}

.btn-input:active {
  color: #81b3d2;
}

.btn-search-form {
  width: 100%;
  padding: 16px 0;
  margin-top: 53px;
  border: none;
  background-color: #81b3d2;
  cursor: pointer;
}

.btn-search-form:hover {
  background-color: #669ec0;
}

.btn-search-form:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.wrap-form {
  height: 217px;
  padding: 0 6%;
  padding-top: 27px;
  padding-bottom: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #425464 url("../img/filter-background.jpg") no-repeat 0 17%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-checkbox-1 {
  margin-right: 119px;
}

.block-checkbox-2 {
  margin-right: 348px;
}

.block-title,
.filter-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.wrap-block {
  margin-bottom: 25px;
}

.wrap-block:last-child {
  margin-bottom: 0;
}

.input-checkbox {
  display: none;
}

.input-checkbox  + .label-text{
  position: relative;
  padding-left: 40px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
}

.input-checkbox + .label-text::before{
  position: absolute;
  top: -2px;
  left: -1px;
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -213px;
}

.input-checkbox:checked + .label-text::before{
  display: none;
}

.input-checkbox:checked + .label-text::after {
  position: absolute;
  top: -2px;
  left: -1px;
  content: "";
  width: 26px;
  height: 27px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -149px;
}

.input-checkbox:disabled + .label-text::before {
  background-position: -5px -245px;
}

.input-checkbox:disabled + .label-text {
  color: #6a6a6a;
}

.input-checkbox:disabled + .label-text::after {
  background-position: -5px -181px;
}

.input-checkbox:disabled + .label-text {
  color: #6a6a6a;
}

.range-filter {
  width: 318px;
}

.range-filter-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrap-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 158px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.price-label {
  padding-left: 65px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  cursor: pointer;
}

.price-label-right {
  padding-left: 55px;
}

.price-input {
  width: 70px;
  height: 32px;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  background: none;
}

.price-input::-webkit-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.price-input:-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.price-input::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.price-input:-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover {
  background: #1c4f80;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 30px 6%;
  padding-bottom: 32px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-title {
  margin: 0;
  margin-right: 48px;
}

.sorting-text {
  margin: 0;
  margin-right: 41px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.sorting-item {
  margin-right: 504px;
}

.sorting-item a {
  margin-right: 28px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #000000;
  opacity: 0.3;
}

.sorting-link:last-child {
  margin-right: 0px;
}

.sorting-link:hover {
  color: #81b3d2;
  opacity: 1;
}

.sorting-link:active {
  color: #000000;
  opacity: 1;
  border-bottom: none;
}

.sorting-item .sorting-link-active {
  color: #81b3d2;
  opacity: 1;
  border: none;
}

.sorting-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch {
  display: block;
  width: 11px;
  height: 10px;
  margin-right: 12px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -486px;
  opacity: 0.2;
}

.switch:hover {
  opacity: 1;
}

.switch:active {
  background-position: -5px -506px;
}

.switch-up {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.switch:last-child {
  margin-right: 0;
}

.switch-active {
  background-position: -5px -506px;
  opacity: 1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 6%;
  padding-top: 29px;
  border-bottom: 1px solid #e5e5e5;
}

.wrap-module {
  width: 258px;
  margin-right: auto;
}

.wrap-module-title {
  margin: 0;
  margin-top: -3px;
}

.wrap-module-link {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.wrap-module-link:hover {
  color: #81b3d2;
}

.wrap-module-link:active {
  color: #000000;
  opacity: 0.3;
}

.module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.module-text {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #333333;
}

.module-btn {
  width: 110px;
  padding: 3px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}

.module-btn:hover {
  background-color: #669ec0;
}

.module-btn:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.module-btn-brown {
  width: 142px;
  background-color: #766357;
}

.module-btn-brown:hover {
  background-color: #604e43;
}

.module-btn-brown:active {
  color: #857871;
  background-color: #503e33;
}

.content-img {
  margin-right: 30px;
}

.rating-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 110px;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.star {
  width: 20px;
  height: 17px;
  margin-right: 3px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -735px;
}

.star:last-child {
  margin-right: 0;
}

.rating {
  width: 110px;
  padding: 4px 0;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 36px 0;
  background: #ffffff;
  opacity: 0.8;
}

.catalog-main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 0;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33.333%;
}

.footer-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social {
  margin-left: 4px;
}

.social-btn {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  font-size: 0;
  background: #81b3d2;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/spritesheet.png") no-repeat;
}

.social-btn-tw::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 15px;
  background-position: -5px -639px;
}

.social-btn-fb::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 19px;
  background-position: -5px -277px;
}

.social-btn-youtb::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  background-position: -5px -664px;
}

.social-btn:hover {
  background: #669ec0;
}

.social-btn:active {
  background: #5496bd;
}

.social-btn:active::before {
  opacity: 0.3;
}

.footer-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-link {
  display: block;
  width: 113px;
  height: 39px;
  margin-left: 9px;
  font-size: 0;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -388px;
}

.footer-link:hover {
  background-position: -5px -437px;
}

.footer-link:active {
  background-position: -5px -388px;;
  opacity: 0.3;
}
